.main {
  margin: 0 auto;
  margin-top: 150px;
  width: 1280px;
  position: relative;
  clear:both;
}

a {
  text-decoration: none;
  color: #0e0e0e;
}

li a:hover {
  text-decoration: underline;
}
.main {
  float:left;
}
.main form {
  width: 1280px;
  text-align: center;
}

#search {
  width: 500px;
  text-align: center;
  height: 21px;
}

.google {
  width: 280px;
  height: 100px;
  margin: 0 auto;
  display: block;
  padding-bottom: 5px;
}

.nav {
  float: right;
  margin-top: -4px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline;
  padding-right: 12px;
  font-size: 12.5px;
  font-family: sans-serif;

}

.search {
  float:left;
  margin: 0 auto;
  background: red;
  text-align: center;
}