/*********************MAIN CONTENT*********************/
.main {
  margin: 0 auto;
  width: 1280px;
  position: relative;
  float:left;
  display: block;
}

.main form {
  width: 1280px;
  text-align: center;
  display:block;
}

#search {
  width: 500px;
  text-align: center;
  height: 21px;
  display: inline;
}

.image {
  padding-top:200px;
  padding-bottom: 5px;
}
.google {
  width: 280px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

/*****************************************************/
/*********************MISCELANEOUS********************/
a {
  text-decoration: none;
  color: #0e0e0e;
}

li a:hover {
  text-decoration: underline;
}



/******************************************************/
/*******************NAVIGATION*************************/

.nav {
  float: right;
  margin-top: -4px;
  width: 400px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline;
  padding-right: 12px;
  font-size: 12.5px;
  font-family: sans-serif;

}
/******************************************************/
/*******************BOTTOM*****************************/
.search {
  float: right
  margin-left:;
}
