.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px; 
  text-transform: uppercase;
}
.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://cloud-4.steampowered.com/ugc/75751075890374340/343685837A09629CBA0AEF2770C0C7D8AC20CAF5/');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
	color: white;
	font-family: sans-serif;
    text-shadow: 2px 2px #000000;
}

.jumbotron p {
	color: white;
	text-shadow: 2px 2px #000000;
}

.jumbotron a {
  color: white;
}

.jumbotron a:hover {
  color: white;
  text-decoration: underline;
}